<% layout("./layouts/boilplate" ) %>
    <div id="map" style="width: 100%; height: 500px"></div>


    
    <div class="row">
        <h1 class="d-inline col-auto me-auto">All campgrounds</h1>
        <a class="btn btn-primary btn-lg col-auto" href="/campgrounds/new">Add New Campground</a>
    </div>
    </a>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <% for (let cg of campgrounds) {%>
            <div class="col">
                <div class="card h-100">
                    <% if (cg.images.length) {%>
                        <img src="<%=cg.images[0].url %>" class="card-img-top" alt="">
                        <% }%>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%=cg.name %>
                                </h5>
                                <h6 class="card-text">
                                    <%= cg.location %>
                                </h6>
                            </div>
                            <footer>
                                <a class="btn btn-secondary d-grid gap-2 d-md-block"
                                    href="/campgrounds/<%=cg._id%>">View
                                    Details</a>
                            </footer>
                </div>
            </div>
            <% } %>
                <script>
                    const mapToken = "<%-process.env.MAPBOX_TOKEN%>"
                    const campgrounds = {"features": <%-JSON.stringify(campgrounds)%>}
                </script>
                <script src="/clusterMap.js"></script>
    </div>